<!-- reset-password.hbs -->
<html>
  <body>
    <p>Здравствуйте, {{userName}}.</p>
    <p>Чтобы сбросить пароль, перейдите по ссылке:</p>
    <a href='{{resetLink}}'>Сбросить пароль</a>
  </body>
</html>
